<h1>Google</h1>
<br>
<%= form_tag(root_path, method: 'post') do %>
  <%= text_field_tag(:term) %>
  <%= submit_tag("search") %>
<% end %>

<ul>
  <% @docs.each do |doc| %>
    <li><%= doc.word %> || <%= doc.file %> || <%= doc.num %></li>
  <% end %>
</ul>

